<%- include('../layouts/admin/header.ejs') -%>

    <section class="d-flex justify-content-center align-items-center p-4">
      <div class="col col-md-8 col-lg-6 col-xxl-5">
    
          <h1 class="text-center fw-bold mb-5 fs-2">Add New Product</h1>
  
          <!-- Your complete product addition form here -->
          <form action="/admin/addproduct" method="post" enctype="multipart/form-data"  onsubmit="return validateForm()">
            <div class="form-group">
              <label for="product_title">Product Name</label>
              <input type="text" class="form-control" id="product_title" name="name" placeholder="Type here">
              <p id="productNameErr" style="color: red; display: none;"></p>
            </div>
  
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Type here">
              <p id="quantityErr" style="color: red; display: none;"></p>
            </div>
  
          
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" id="product-category" name="category">
                    <% for (let i = 0; i < categories.length; i++) { %>
                        <option value="<%= categories[i].name %>"><%= categories[i].name %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
              <label>Sizes</label>
              <% for (let i = 5; i <= 9; i++) { %>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="sizes" id="size<%= i %>" value="<%= i %>">
                      <label class="form-check-label" for="size<%= i %>">
                          <%= i %>
                      </label>
                  </div>
              <% } %>
              <p id="sizeErr" style="color: red; display: none;"></p>
          </div>
          
            
            
            <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control" name="price" placeholder="Type here" id="price">
              <p id="priceErr" style="color: red; display: none;"></p>
            </div>
            
            <div class="form-group">
              <label>previous price</label>
              <input type="text" class="form-control" name="previous_price" placeholder="Type here" id="store_id">
              <p id="previousErr" style="color: red; display: none;"></p> 
            </div>
          
  
            
  
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="4" name="description" placeholder="Type here" id="description"></textarea>
              <p id="descErr" style="color: red; display: none;"></p>
            </div>
  
            
            <div class="form-group">
                <label>Product Images</label>
                <div class="row" >
                  <% for (let i = 1; i <= 4; i++) { %>
                    <div class="col-lg-6 col-md-6 mb-3 rounded-image-preview">
                      <label for="imageInput<%= i %>" class="image-label">Image <%= i %>
                        <div class="rounded-image-preview">
                          <img id="imagePreview<%= i %>" alt="Preview">
                        </div>
                        <input name="images" type="file" accept="image/*" id="imageInput<%= i %>" class="imageInput" onchange="previewImage(this, 'imagePreview<%= i %>')">
                      </label>
                    </div>
                  <% } %>
                </div>
                <p id="imagesErr" style="color: red; display: none;"></p>
              </div>
              
  
            <div class="form-group mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="/admin/products" class="btn btn-primary">
                <span class="text" >Back</span>
              </a>
            </div>
          </form>
        </div>
      
    </section>
  </div>
  

<%- include('../layouts/admin/footer.ejs') -%>
<script>
   function validateForm() {

let productName = document.getElementById('product_title').value.trim();
let quantity = document.getElementById('quantity').value.trim();
let category = document.getElementById('product-category').value.trim();
let price = document.getElementById('price').value.trim();
let storeId = document.getElementById('store_id').value.trim();
let description = document.getElementById('description').value.trim();
let images = document.querySelectorAll('[name="images"]');
let validImages = Array.from(images).some(img => img.value.trim() !== '');
let sizes = document.querySelectorAll('[name="sizes"]:checked');
let lettersAndNumbersRegex = /^[A-Za-z0-9 ]+$/;
let  numberRegex = /^[0-9]+$/;

// Get the error paragraph elements
let productNameErr = document.getElementById('productNameErr');
let quantityErr = document.getElementById('quantityErr');
let sizeErr = document.getElementById('sizeErr');
let priceErr = document.getElementById('priceErr');
let previousErr = document.getElementById('previousErr');
let descErr = document.getElementById('descErr');
let imagesErr = document.getElementById('imagesErr');
let lettersRegex = /^[A-Za-z ]+$/;
let  sameLettersRegex = /^(?!([a-zA-Z])\1+$)[a-zA-Z]+$/;
if (!productName || !quantity || !category || !price || !storeId || !description) {
  Swal.fire({
          icon: 'error',
          text: 'Please fill out all fields'
        })
    return false;
}

if (productName.trim() === "" || quantity.trim() === "" || storeId.trim() === "" || description.trim() === "") {
    Swal.fire({
          icon: 'error',
          text: 'Please fill properly and remove blank fields'
        })
    return false;
}

if (!lettersRegex.test(productName)) {
    productNameErr.innerText = "Product name should contain only letters & not consisit same letter";
    productNameErr.style.display = "block";
    return false;
} else {
    productNameErr.style.display = "none";
}

if (description.length <= 20 || !lettersRegex.test(description) ) {
    descErr.innerText = "Description must be at least 20 characters long";
    descErr.style.display = "block";
    return false;
}

if ( !numberRegex.test(quantity)|| quantity < 0) {
    quantityErr.innerText = "Quantity must be an number and not a negative number";
    quantityErr.style.display = "block";
    return false;
} 
if ( !numberRegex.test(storeId) || storeId < 100|| storeId > 25000) {
    previousErr.innerText = "Previous Price must be an integer and minimum 100 within 25000";
    previousErr.style.display = "block";
    return false;
}


if ( !numberRegex.test(price) || price < 100 || price > 25000) {
    priceErr.innerText = "Price must be an integer and minimum 100 and within 25000";
    priceErr.style.display = "block";
    return false;
} else {
    priceErr.style.display = "none";
}
if (+price > +storeId) {
        previousErr.innerText = "Previous price should be equal or more than the current price";
        previousErr.style.display = "block";
        setTimeout(() => {
            previousErr.style.display = "none";
        }, 5000);
        return false;
    }

if (sizes.length < 2) {
    sizeErr.innerText = "Please select at least two size";
    sizeErr.style.display = "block";
    return false;
} else {
    sizeErr.style.display = "none";
}

if (!validImages ) {
    imagesErr.innerText = "Please select at least 1 image";
    imagesErr.style.display = "block";
    return false;
} else {
    imagesErr.style.display = "none";
} 
return true;
}



    function previewImage(input, imageId) {
        const preview = document.getElementById(imageId);
        const file = input.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        } else {
            preview.src = "/assets/images/add Image.jpg";
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
