<%- include('../layouts/admin/header.ejs') -%>
<style>

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 40%; 
  border-radius: 8px;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
.modal-head {
    margin-top: 1%;
}
.modal-head p {
   font-weight: bolder;
   font-size: 1rem;
}


</style>
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a class="brand-wrap">
            SAcollective
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/products">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
              
            </li>
          
            <li class="menu-item">
                <a class="menu-link" href="/admin/ums">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">user managmnet</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/categories">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Categories</span>
                </a>
              
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orders">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Orders</span>
                </a>
              
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Coupons</span>
                </a>
            
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Banners</span>
                </a>
            
            </li>
        
            <li class="menu-item ">
                <a class="menu-link" href="/admin/messages">  <i class="icon material-icons md-message"></i>
                    <span class="text">Messages</span>
                </a>
            
            </li>
        
         
            
        
      
        </ul>
        <hr />
        <br />
        <br />
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
           
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
            <ul class="nav">
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">  Admin</a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">

                        <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard</h2>
                <p>Whole data about your business here</p>
            </div>
            <div>
                <button id="openModalBtn" class="btn btn-primary" onclick="openSalesModal()" ><i class="text-muted material-icons md-post_add"></i>Create report</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Revenue</h6>
                            <span>₹<%= totalRevenue%></span>
                            <span class="text-sm"> Shipping fees are not included </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6>
                            <span><%= totalOrders%></span>
                            <span class="text-sm"> Excluding orders in transit </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Products</h6>
                            <span><%= totalProduct %></span>
                            <span class="text-sm"> In <%= totalCategories %> Categories </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">total customers</h6>
                            <span><%= totalUsers%></span>
                            <span class="text-sm"> Based in your local time. </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="row" id="chart" data-visted-users="<%= JSON.stringify(monthBaseUser) %>" data-montlyRevenue="<%= JSON.stringify(monthBaseRevenue)%>">
            <div class="col-xl-12 col-lg-12">
                <div class="col-md-2 col-6">
                    <input   type="month" onchange="filterWithMonthYear(this.value)" style="background-color: white;" class="form-control" /> 
                </div>
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Sale statistics</h5>
                        <canvas id="myChart" height="120px"></canvas>
                    </article>
                </div>
            </div>
         
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <h4 class="card-title">Latest orders</h4>
                <div class="row align-items-center">
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        <div class="custom_select">
                            <select class="form-select select-nice" onchange="fetchData(this.value)">
                                <option value="product" selected>Best selling product (top 5)</option>
                                <option value="category">Best selling category (top 5)</option>
                            </select>                            
                        </div>
                    </div>
                </div>
            </header>
            <div class="card-body">
                <div class="table-responsive" id="replaceTop10">
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle" scope="col">Product Image</th>
                                    <th class="align-middle" scope="col">Product Name</th>
                                    <th class="align-middle" scope="col">Total Orders</th>
                                    <th class="align-middle" scope="col">Total Revenue</th>
                                    <th class="align-middle" scope="col">Category</th>
                                    <th class="align-middle" scope="col">View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% productSorted.map((val, index) => { %>
                                    <tr>
                                        <td>
                                            <img src="/assets/images/productImage/<%= val.productDetails[0].images[0] %> " alt="Product Image" style="width: 50px; height: 50px; border-radius: 50%;">
                                        </td>
                                        <td><%= val.productDetails[0].name %></td>
                                        <td><%= val.productOrders %></td>
                                        <td><%= val.totalRevenue %></td>
                                        <td><%= val.productDetails[0].category %></td>                                   
                                        <td>
                                            <a href="/admin/edit-product?id=<%= val.productDetails[0]._id %>" class="btn btn-xs">View details</a>
                                        </td>
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- table-responsive end// -->
           
            </div>
        </div>
          <div id="modalForSales" class="modal">
            <div class="modal-content">
                <div class="modal-head">
                    <p>select the date</p>
                </div>
                <hr>
                <div class="modal-body">
                  <div>
                    <p>start date</p>
                    <input type="date"  id="startingDate">
                    <p id="startingDateErr" style="display: none; color: red;" >  </p>
                  </div>
                  <div>
                    <p>start date</p>
                    <input type="date"  id="endDate">
                    <p id="endDateErr" style="display: none; color: red;" >  </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <a class="btn btn-danger" onclick="closeSalesModal()">Cancel</a>
                  <a class="btn btn-primary " id="dowenload-btn" onclick="dowenloadSalesReport()">Download</a>
                </div>
              </div>
          </div>
    </section>
    <!-- content-main end// -->
<%- include('../layouts/admin/footer.ejs') -%>
<script>
   const fetchData = (selection) => {
    let replaceTop10 = document.getElementById('replaceTop10');
    const data = { selection }; 
    fetch('/admin/fetch-data', {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        console.log('Response:', data.filtered);
        if (selection === 'category') {
            replaceTop10.innerHTML = `
    <div class="table-responsive">
        <table class="table align-middle table-nowrap mb-0">
            <thead class="table-light">
                <tr>
                    
                    <th class="align-middle" scope="col">Category Name</th>
                    <th class="align-middle" scope="col">Total Orders</th>
               
                </tr>
            </thead>
            <tbody>
                ${data.filtered.map((val, index) => `
                    <tr>
                       
                        <td>${val._id}</td>
                        <td>${val.totalOrders}</td>                                
                       
                    </tr>
                `).join('')}
            </tbody>
        </table>
    </div>
`;
        } else {
            replaceTop10.innerHTML = `
    <div class="table-responsive">
        <table class="table align-middle table-nowrap mb-0">
            <thead class="table-light">
                <tr>
                    <th class="align-middle" scope="col">Product Image</th>
                    <th class="align-middle" scope="col">Product Name</th>
                    <th class="align-middle" scope="col">Total Orders</th>
                    <th class="align-middle" scope="col">Total Revenue</th>
                    <th class="align-middle" scope="col">Category</th>
                    <th class="align-middle" scope="col">View Details</th>
                </tr>
            </thead>
            <tbody>
                ${data.filtered.map((val, index) => `
                    <tr>
                        <td>
                            <img src="/assets/images/productImage/${val.productDetails[0].images[0]}" alt="Product Image" style="width: 50px; height: 50px; border-radius: 50%;">
                        </td>
                        <td>${val.productDetails[0].name}</td>
                        <td>${val.productOrders}</td>
                        <td>${val.totalRevenue}</td>
                        <td>${val.productDetails[0].category}</td>                                   
                        <td>
                            <a href="/admin/edit-product?id=${val.productDetails[0]._id}" class="btn btn-xs">View details</a>
                        </td>
                    </tr>
                `).join('')}
            </tbody>
        </table>
    </div>
`;
        }
       
    })
    .catch(error => {
        console.error('Error:', error);
    });
};


const filterWithMonthYear = (monthYear) => {
    console.log(monthYear);
    if (!monthYear) {
        window.location.reload()
    }
    const data = { monthYear };

    fetch('/admin/fetch-month-year-chart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        return response.json();
    })
    .then(data => {
        updateChart(data.dayBaseUser, data.dayBaseRevenue, data.daysArr);
    })
    .catch(error => {
        console.error('Error fetching data:', error);
    });
}

/// chart js
var charttt; 
document.addEventListener("DOMContentLoaded", function () {
    
    var myChartElement = document.getElementById('myChart');
    var chartFromEJS = document.getElementById('chart');
    var dataMonthlyRevenue = JSON.parse(chartFromEJS.getAttribute('data-montlyRevenue'));
    var dataVisitedUsers = JSON.parse(chartFromEJS.getAttribute('data-visted-users'));

    if (myChartElement) {
        var ctx = myChartElement.getContext('2d');
        charttt = new Chart(ctx, { 
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: 'Revenue',
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1,
                    data: dataMonthlyRevenue
                },
                {
                    label: 'Visitors',
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1,
                    data: dataVisitedUsers
                }]
            },
            options: {
            plugins: {
                legend: {
                    labels: {
                        usePointStyle: true,
                    },
                }
            },
            scales: {
                y: {
                    min: 0,
                   
                }
            }
        }
     });
    }
});
function updateChart (userVisitCountByDay, revenueByday, monthDay)  {
    console.log(userVisitCountByDay, revenueByday, monthDay);
    if (charttt) {
        charttt.data.labels = monthDay;
        charttt.data.datasets[0].data = revenueByday;
        charttt.data.datasets[1].data = userVisitCountByDay;
        charttt.update();
    } else {
        alert("Something went wrong");
    }
};



// sales reportt area modal and download
function openSalesModal() {
  const modal = document.getElementById("modalForSales");
  modal.style.display = "block";
}


function closeSalesModal() {
  var modal = document.getElementById("modalForSales");
  modal.style.display = "none";
}

function dowenloadSalesReport () {
    const startingDate = document.getElementById('startingDate').value;
    const endDate = document.getElementById('endDate').value;
    const endDateErr = document.getElementById('endDateErr');
    const startingDateErr = document.getElementById('startingDateErr');
    const downloadButton = document.getElementById('dowenload-btn');
    let validateErr = false;
    if ( !startingDate ) {
        startingDateErr.style.display = 'block';
        startingDateErr.innerText = "you have to select startinf date";
        setTimeout(()=> {
            startingDateErr.style.display = 'none';
            startingDateErr.innerText = "";
        },5000)  
        validateErr = true
    }
    if ( !endDate ) {
        endDateErr.style.display = 'block';
            endDateErr.innerText = "you have to select end date";
        setTimeout(()=> {
            endDateErr.style.display = 'none';
            endDateErr.innerText = "";
        },5000)  
        validateErr = true
    }
    if ( validateErr ) {
        return
    }
    if ( startingDate > endDate ) {
        endDateErr.style.display = 'block';
            endDateErr.innerText = "please select properly";
        setTimeout(()=> {
            endDateErr.style.display = 'none';
            endDateErr.innerText = "";
        },5000)  
        validateErr = true
    }
    if ( validateErr ) {
        return
    }

    const data = { startingDate, endDate }
    downloadButton.innerHTML = '<i class="fas fa-spinner fa-spin"></i> Downloading...';
    fetch('/admin/fetch-sales-report',{
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    }).then(response => response.blob())
      .then( blob => {
        const linkElem = document.createElement('a');
        linkElem.href = window.URL.createObjectURL(blob);
        linkElem.download = `salesReport.pdf`;
        document.body.appendChild(linkElem);
        linkElem.click();

        // after clicking i have to removethis because after that dont need of this element a 
        document.body.removeChild(linkElem);

        document.getElementById('startingDate').value = '';
        document.getElementById('endDate').value = '';
        downloadButton.innerHTML = 'Download';
        closeSalesModal()
    })
    .catch(error => {
        console.error('Error fetching data:', error);
    });
}

</script>
<script src="/socket.io/socket.io.js"></script>
<script type="module">
    const socket = io()
    
</script>