<%- include('../layouts/user/header.ejs') -%>


<section class="mt-0 overflow-lg-hidden  vh-lg-100">
    <!-- Page Content Goes Here -->
    <div class="container">
        <div class="row g-0 vh-lg-100">
            <div class="col-12 col-lg-7 pt-5 pt-lg-10">
                <div class="pe-lg-5">
                   
                    <nav class="d-none d-md-block">
                        <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                            <li class="me-4"><a class="nav-link-checkout active aria-current"
                                    href="">Your Cart</a></li>
                           
                        </ul>
                    </nav>                        
                    
                    <div class="mt-5">
                        <h3 class="fs-5 fw-bolder mb-0 border-bottom pb-4">Your Cart</h3>
                        <div class="table-responsive">
                            
                            <table class="table align-middle">
                                <tbody class="border-0">
                                    <!-- Cart Item-->
                                    <% if (cartDetails && cartDetails.products && cartDetails.products.length > 0) { %>
                                        <% cartDetails.products.forEach((value, index) => { %>
                                            <tr class="mx-0 py-4 g-0 border-bottom">
                                                <td class="col-2 position-relative">
                                                    <picture class="d-block border">
                                                        <img class="img-fluid" src="/assets/images/productImage/sharped/<%= value.productId.images[0] %>" alt="hihi">
                                                    </picture>
                                                </td>
                                                <td class="col-9 offset-1">
                                                    <div>
                                                        <h6 class="justify-content-between d-flex align-items-start mb-2">
                                                            <%= value.productId.name %>
                                                            <i class="ri-close-line ms-3" onclick="deleteCartItem('<%= value.productId._id %>')"></i>
                                                        </h6>
                                                        <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 9 / Qty: <%= value.quantity %></span>
                                                    </div>
                                                    <p class="fw-bolder text-end text-muted m-0"> ₹<%= value.totalPrice %></p>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="2">No products available</td>
                                        </tr>
                                    <% } %>
                                    <!-- / Cart Item-->
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0">
                <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                    <div class="pb-4 border-bottom">
                        <div class="d-flex flex-column flex-md-row justify-content-md-between mb-4 mb-md-2">
                            <div>
                                <p class="m-0 fw-bold fs-5">Grand Total</p>
                                <span class="text-muted small">Inc ₹45.89 sales tax</span>
                            </div>
                            <p class="m-0 fs-5 fw-bold">₹<%= subTotal %></p>
                        </div>
                    </div>
                    <div class="py-4">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="Enter coupon code">
                            <button class="btn btn-secondary btn-sm px-4">Apply</button>
                        </div>
                    </div>
                    <a href="/check-out" class="btn btn-dark w-100 text-center" role="button">Proceed to checkout</a>                    </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</section>
<!-- / Main Section-->
  
<%- include('../layouts/user/footer.ejs') -%>

<script>
    function deleteCartItem(proId){
        swal.fire({
            title: "Are You Sure?",
            Text: " You wont be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "cancel",
        }).then((result)=>{
            if(result.isConfirmed){
                $.ajax({
                    url:"/removeCartitem",
                    data:{
                        product:proId
                    },
                    method:"post",
                    success:(response)=>{
                        if((response.success = true )){
                            location.reload();
                            swal.fire({
                            title: "Deleted!",
                            text: "Your item has been deleted.",
                            icon: "Suscces",
                            timer:2000,
                            showConfirmButton: false,
                });
                        }
                    }
                })
            }
        })
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
