<%- include('../layouts/user/header.ejs') -%>


<section class="mt-0   vh-lg-100">
    <!-- Page Content Goes Here -->
    <div class="container">
        <div class="row g-0 vh-lg-100">
            <div class="col-lg-7 pt-5 pt-lg-10">
                <div class="pe-lg-5">
                    <!-- Logo-->
                    <a class="navbar-brand fw-bold fs-3 flex-shrink-0 mx-0 px-0" href="./index.html">
                            
                        </a>
                    <!-- / Logo-->
                    <nav class="d-none d-md-block">
                        <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                          <li class="me-4"><a class="nav-link-checkout "
                            href="/">Home</a></li>
                          <li class="me-4"><a class="nav-link-checkout "
                                    href="/cart">Cart</a></li>
                            <li class="me-4"><a class="nav-link-checkout active aria-current"
                                    href="">Shipping address</a></li>
                           
                        </ul>
                    </nav>                        <div class="mt-5">
                        <!-- Checkout Panel Information-->
                        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-4">
                            
                        
                        </div>
                        
    <!--  modal for new adrress -->
<div class="modal fade" id="AdressModal" tabindex="-1" aria-labelledby="AdressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AdressModalLabel">Add New Address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post">
            <div class="form-group">
              <label for="full-name" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="full-name" placeholder="Full Name" name="fullname" required>
              <p style="color: red; display: none" id="full-nameErr"></p>
            </div>
            <div class="form-group">
              <label for="address-line1" class="form-label">Address Line 1</label>
              <input type="text" class="form-control" id="address-line1" placeholder="Address Line 1" name="address_line1" required>
              <p style="color: red; display: none" id="address-line1Err"></p>
            </div>
            <div class="form-group">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" placeholder="City" name="city" required>
              <p style="color: red; display: none" id="cityErr"></p>
            </div>
            <div class="form-group">
              <label for="state" class="form-label">State</label>
              <select class="form-select" id="state" name="state" required>
                <option value="" selected disabled>Select State</option>
               
                <option value="Kerala">Kerala</option>
                <option value="Tamilnadu">Tamilnadu</option>
                <option value="Karnataka">Karnataka</option>
                
                <option value="Maharashtra">Maharashtra</option>
              </select>
            </div>
            <div class="form-group">
              <label for="postcode" class="form-label">Postcode</label>
              <input type="text" class="form-control" id="postcode" placeholder="Postcode" name="postcode" required>
              <p style="color: red; display: none" id="postcodeErr"></p>
            </div>
            <div class="form-group">
              <label for="mobile-number" class="form-label">Mobile Number</label>
              <input type="tel" class="form-control" id="mobile-number" placeholder="Mobile Number" name="mobile_number" required>
              <p style="color: red; display: none" id="mobile-numberErr"></p>
            </div>
  
            <button type="button" onclick="addAddress('<%= locals.user.email %>')" class="btn btn-primary d-block w-100 my-4">Add Address</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
   <!-- end modal for new adrress -->
   
   

   <!-- here started accordion  -->
  
   <div id="selectedAddressDisplay" style="display: none; border: .7px solid black; " class="p-3 ">
    <p class="fw-bold">Selected Address:</p>
    <p id="displayedAddress"></p>
  </div>
  
  
   <div class="accordion" id="accordionExample">
  <!-- First Accordion Item -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Select a address
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <!-- Your First Accordion Content -->
        <div class="container " id="reloadArea">
          <!-- Your Addresses Section -->
          <% if (locals.addresses && locals.addresses.length > 0) { %>
              <% addresses.forEach(function (address) { %>
                  <div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
                    <input class="form-check-input" type="radio" name="selectedAddress" id="<%= address._id %>" value="<%= address._id %>" onchange="displaySelectedAddress('<%= JSON.stringify(address) %>')">

                      <label class="form-check-label" for="<%= address._id %>">
                          <span class="d-flex justify-content-between align-items-start">
                              <span>
                                  <span class="mb-0 fw-bolder d-block"><%= address.name %></span>
                                  <small class="fw-bolder"><%= address.addressline %>, <%= address.city %>, <%= address.state %> - <%= address.pincode %></small>
                              </span>
                              <span class="small fw-bolder text-uppercase"><%= address.phone %></span>
                          </span>
                      </label>
                  </div>
              <% }); %>
          <% } else { %>
             
          <% } %>
          <a data-bs-toggle="modal" data-bs-target="#AdressModal" class="btn btn-white border border-dark d-flex justify-content-center me-3 d-block ms-3 mt-3 addaddressbtn">
              <i class="material-icons md-plus"></i> Add new Address
          </a>
      </div>
      
      </div>
    </div>
  </div>

  <!-- Second Accordion Item -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Payment Method
      </button>
    </h2>
  <!-- Inside the existing accordion item -->
<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
  <div class="accordion-body">
      <!-- Existing payment method (Cash on Delivery) -->
      <div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3" >
          <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodCashOnDelivery"  <% if ((subTotal > 1500)) { %>disabled<% }%>>
          <label class="form-check-label" for="checkoutShippingMethodCashOnDelivery">
              <span class="d-flex justify-content-between align-items-start">
                  <span>
                      <span class="mb-0 fw-bolder d-block" <% if (( subTotal > 1000)) { %>class="text-muted"<% } %>>Cash on Delivery</span>
                      <small class="fw-bolder" <% if ((subTotal > 1000)) { %>class="text-muted"<% } %>>Pay when your order is delivered</small>
                  </span>
                  <% if (( subTotal < 1000)) { %>
                    <span class="small fw-bolder text-uppercase">Free</span>
                  <% } %>
                  <% if (( subTotal > 1000)) { %>
                    <span style=" color: red   !important;" >maximum 1500</span>
                  
                  <% } %>
              </span>
          </label>
      </div>

      <!-- payment method (Online Payment) -->
      <div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
          <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodOnlinePayment">
          <label class="form-check-label" for="checkoutShippingMethodOnlinePayment">
              <span class="d-flex justify-content-between align-items-start">
                  <span>
                      <span class="mb-0 fw-bolder d-block">Online Payment</span>
                      <small class="fw-bolder">Pay securely online</small>
                  </span>
                  <span class="small fw-bolder text-uppercase">Additional Charges Apply</span>
              </span>
          </label>
      </div>

      <!-- if wallet exist its enable  -->
      <div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
        <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodWallet" <% if (!(walletAmount > subTotal)) { %>disabled<% } %>>
        <label class="form-check-label" for="checkoutShippingMethodWallet">
            <span class="d-flex justify-content-between align-items-start">
                <span>
                    <span class="mb-0 fw-bolder d-block" <% if (!(walletAmount > subTotal)) { %>class="text-muted"<% } %>>Wallet</span>
                    <small class="fw-bolder" <% if (!(walletAmount > subTotal)) { %>class="text-muted"<% } %>>Pay securely online</small>
                    
                  </span>
                  <% if (!(walletAmount > subTotal)) { %>
                    <span style=" color: red   !important;" >insufficent balance</span>
                  
                  <% } %>
                
            </span>
        </label>
    </div>
    
  </div>
</div>

  </div>
  <button type="button" class="btn btn-dark d-block w-100 mb-5">Place order</button>
</div>
                     </div>
         
                </div>
                
            </div>



<!-- here where the aside page  -->

<input type="hidden" id="cartId" value="<%= cartDetails._id %>">

            <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0" >
                <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                    <div class="pb-3">
                        <!-- Cart Item-->
                        <% if (cartDetails && cartDetails.products) { %>
                            <% cartDetails.products.forEach(function (value, index) { %>
                                <div class="row mx-0 py-4 g-0 border-bottom">
                                    <div class="col-2 position-relative">
                                        <span class="checkout-item-qty"><%= value.quantity %></span>
                                        <picture class="d-block border">
                                            <img class="img-fluid" src=" /assets/images/productImage/sharped/<%= value.productId.images[0] %>" alt="<%= value.productId.name %>">
                                        </picture>
                                    </div>
                                    <div class="col-9 offset-1">
                                        <div>
                                            <h6 class="justify-content-between d-flex align-items-start mb-2">
                                                <%= value.productId.name %>
                                                <p class="fw-bolder text-end text-muted m-0">₹<%= value.totalPrice %></p>
                                            </h6>
                                            <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: <%= value.sizes %> / Qty: <%= value.quantity %></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>
                        <!-- / Cart Item-->
                    </div>
                    
                      <div class="py-4 border-bottom">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="m-0 fw-bolder fs-6">Subtotal</p>
                            <p class="m-0 fs-6 fw-bolder">₹<%= subTotal %></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <p class="m-0 fw-bolder fs-6">saved</p>
                          
                            <% if (couponCode) { %>
                              <p id="discountAmount" class="m-0 fs-6 fw-bolder">₹<%= discountAmount %></p>
                          <% } else { %>
                              <p id="discountAmount" class="m-0 fs-6 fw-bolder">₹0.00</p>
                          <% } %>
                          
                          
                          
                          
                        </div>
                    </div>
                    <div class="py-4 border-bottom">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="m-0 fw-bold fs-5">Grand Total</p>
                                <span class="text-muted small">Inc ₹45.89 sales tax</span>
                            </div>
                            <p id="total" class="m-0 fs-5 fw-bold">₹<%= subTotal %></p>
                        </div>
                    </div>
                    
                  
                    <a  class="btn btn-secondary w-100 text-center mt-4"  data-bs-toggle="modal" data-bs-target="#couponModal" role="button">Check available Coupons</a>  
                  
                 
                  
                 
                  
                   

                  
               
                    <div class="py-4">
                      <div class="input-group mb-0">
                        <% if (couponCode) { %>
                          <input  id="couponCodeInput" type="text" class="form-control" value="<%= couponCode %>">
                          <button id="couponButton" class="btn btn-secondary btn-sm px-4" onclick="handleCouponClick()" >Remove</button>
                          <% } else { %>
                            <input  id="couponCodeInput" type="text" class="form-control"placeholder="Enter your coupon code">
                          <button id="couponButton" class="btn btn-secondary btn-sm px-4" onclick="handleCouponClick()" >Apply</button>
                         
                        <% } %>
                        </div>
                        <input type="hidden" value="<%= couponName %>" id="couponName">
                  </div>
                  
                   
                  
                  
                </div>
            </div>
            
           
        </div>
    </div>
    <!-- /Page Content -->
</section>
<!-- / Main Section-->





 <!-- Modal for coupon -->

 <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Available </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="table-responsive">
                          
              <table class="table align-middle">
                  <tbody class="border-0 " style="background-color: rgba(209, 209, 209, 0.973);">
                      <!-- Cart Item-->
                      <% if (couponView.length > 0) { %>
                          <% couponView.forEach((value, index) => { %>
                              <tr class="mx-0 py-4 g-0 border-bottom">
                                  <!-- <td class="col-2 position-relative">
                                      <picture class="d-block border">
                                          <img class="img-fluid" src="/assets/logos/coupon.png" alt="hihi">
                                      </picture>
                                  </td> -->
                                  <td class="col-9 offset-1">
                                      <div>
                                          <h6 style="font-weight: bolder; font-size: 2.3rem;" class="justify-content-between d-flex align-items-start mb-2">
                                              <%= value.couponName %>
                                              
                                          </h6>
                                          <div>
                                            
                                          </div><span class="d-block text-muted fw-bolder text-uppercase fs-9">Code : <%= value.couponCode %></span>
                                          <span class="d-block text-muted fw-bolder text-uppercase fs-9">Expiry :<%= new Date(value.expiryDate).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></span>
                                          <span class="d-block text-muted fw-bolder text-uppercase fs-9"><%= value.discountAmount %>% on one order</span>
                                      </div>
                                      <!-- <p class="fw-bolder text-end text-muted m-0"> </p> -->
                                  </td>
                              </tr>
                          <% }) %>
                      <% } else { %>
                          <tr>
                              <td colspan="2">No Coupons available</td>
                          </tr>
                      <% } %>
                      <!-- / Cart Item-->
                  </tbody>
              </table>
              
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<script>
    
// this functions for validating each add and edit ////////////////////////////
function trimValue(elementId) {
        return document.getElementById(elementId).value.trim();
    }

    function setBorderColor(elementId, color) {
        document.getElementById(elementId).style.border = `1px solid ${color}`;
    }
    function err(errorField, error) {
        errorField.innerText = `${error} is required `;
        errorField.style.display = "block";
        setTimeout(() => {
          errorField.style.display = "none";
        }, 5000);
        isValid = false;
        return;
      }

    function validateField(value, fieldName, elementId) {
      const errorField = document.getElementById(`${elementId}Err`);

if (value === "") {
    setBorderColor(elementId, 'red');
    err(errorField, fieldName);
    return true; // Validation failed
}

if (fieldName === 'Mobile Number') {
  if (!/^\d{10}$/.test(value) || /^(.)\1+$/.test(value) ) {
        setBorderColor(elementId, 'red');
        err(errorField, fieldName);
        return true; // Validation failed
    }
} else if (fieldName === 'Full Name' || fieldName === 'City') {
    if (!/^[A-Za-z ]+$/.test(value)) {
        setBorderColor(elementId, 'red');
        err(errorField, fieldName);
        return true; // Validation failed
    }
} else if (fieldName === 'address_line1') {
    if (!/^[A-Za-z\s]+$/.test(value)) {
        setBorderColor(elementId, 'red');
        err(errorField, fieldName);
        return true; // Validation failed
    }
} else if (fieldName === 'Postcode') {
    // Check if value consists of 6 digits and not the same number repeated
    if (!/^\d{6}$/.test(value) || /^(.)\1+$/.test(value)) {
        setBorderColor(elementId, 'red');
        err(errorField, fieldName);
        return true; // Validation failed
    }
}

setBorderColor(elementId, '');
return false; // Validation passed
    }
    function clearInputValues() {
        const fields = [
            'full-name',
            'address-line1',
            'city',
            'state',
            'postcode',
            'mobile-number'
        ];

        for (const fieldId of fields) {
            document.getElementById(fieldId).value = '';
        }
    }

    ///////////////
    function addAddress(userEmail) {
        const fields = [
            { id: 'full-name', name: 'Full Name' },
            { id: 'address-line1', name: 'address_line1' },
            { id: 'city', name: 'City' },
            { id: 'state', name: 'State' },
            { id: 'postcode', name: 'Postcode' },
            { id: 'mobile-number', name: 'Mobile Number' }
        ];

        for (const field of fields) {
            const value = trimValue(field.id);
            if (validateField(value, field.name, field.id)) {
                return;
            }
        }
        const fullName = document.getElementById('full-name').value;
        const addressLine = document.getElementById('address-line1').value;
        const city = document.getElementById('city').value;
        const state = document.getElementById('state').value;
        const postcode = document.getElementById('postcode').value;
        const  phone = document.getElementById('mobile-number').value;
        const data = {
          fullName:fullName,
          addressLine:addressLine,
          city:city,
          state:state,
          postcode:postcode,
          phone:phone,userEmail:userEmail
        }
    Swal.fire({
      title: 'Are you sure?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes!',
    }).then((res) => {
      if (res.isConfirmed) {
        $.ajax({
          method: 'POST',
          url: '/add-address',
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: function (response) {
            if (response.added === true) {
              Swal.fire({
                icon:'success',
                text:'Success'
              }).then(()=>{
                location.reload()
                clearInputValues();
              })
              
              $('#AdressModal').modal('hide');
             
            } else {
             
              Swal.fire({
                    icon: 'error',
                  
                    text: 'Failed to edit profile. something went  wrong',
              }).then(()=>{
                $('#reloadArea').load('/check-out #reloadArea');
              })
            }
          },
          error: function (error) {
            console.error(error);
          },
        });
      }
    });
      
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  $(document).ready(function() {
    // Place order button click event
    $('.btn-dark').on('click', function() {
      var selectedAddress = $('input[name="selectedAddress"]:checked').val();
      var totalElement = document.getElementById('total');
      var subTotalValue = parseFloat(totalElement.textContent.replace('₹', '').trim());
      var couponCode = document.getElementById('couponCodeInput').value;
  
      var selectedShippingMethod;
      if ($('#checkoutShippingMethodCashOnDelivery').is(':checked')) {
        selectedShippingMethod = 'COD';
      } else if($('#checkoutShippingMethodOnlinePayment').is(':checked')) {
        selectedShippingMethod = 'onlinePayment';
      }else if($('#checkoutShippingMethodWallet').is(':checked')) {
        selectedShippingMethod = 'wallet';
      }
     
      if (selectedAddress && selectedShippingMethod) {
        const data = {
          selectedAddress: selectedAddress,
          selectedShippingMethod: selectedShippingMethod,
          subTotalValue:subTotalValue,
          couponCode: couponCode
        };

        
        $.ajax({
          type: 'POST',
          url: '/place-order',
          data: data,
          success: function(response) {
            if (response.quantity === true) {
              Swal.fire({
                icon: 'error', 
                text: 'something went wrong(out of stock) ',
                showConfirmButton: false,
                timer: 1500
            });
            }
            if (response.success == true) {
                 location.href = `/order-success/${response.params}`;
                 console.log('Order placed successfully:', response);
            }else {
              console.log("why not ocomeeeeeees")
              console.log("Order details:", response.order);
          razorPayment(response.order);
        }
           
          },
          error: function(error) {
            console.error('Error placing the order:', error);
          }
        });
      } else {
        Swal.fire({
                    icon: 'error',
                  
                    text: 'Please select both an address and a shipping method before placing the order.',
              })
      }
    });
  });

  function razorPayment(order) {
    console.log('Order for Razorpay:', order);
    var options = {
      key: "rzp_test_fxwtmaR2OrRwYA", // Enter the Key ID generated from the Dashboard
      amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: "INR",
      name: "SAcolllective Pvt.Ltd", //your business name
      description: "Test Transaction",
      image: "/assets/favicon/android-chrome-192x192.png",
      order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        verifyPayment(response, order);
      },
      prefill: {
        //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        name: "SAcollective Pvt.Ltd", //your customer's name
        email: "SAcollective@example.com",
        contact: "910000000369", //Provide the customer's phone number for better conversion rates
      },
      notes: {
        address: "Razorpay Corporate Office",
      },
      theme: {
        color: "#000000",
      },
    };
  // interface for razonpay page4
    var rzp1 = new Razorpay(options);
    rzp1.on("payment.failed", () => {

              window.location.href = `/orders?sortbyorder=pending`;
            });
    rzp1.open();
  }

  function verifyPayment(payment, order) {
    const amount2 = document.getElementById("total").innerHTML;
    var couponCode = document.getElementById('couponCodeInput').value;
    console.log("am here to confiem order",amount2)
    $.ajax({
      url: "/verify-payment",
      method: "post",
      data: {
        payment: payment,
        amount2: amount2,
        order: order,
        couponCode: couponCode
      },
      success: (response) => {
        if (response.codsuccess == true) {
          location.href = `/order-success/${response.params}`;
        } else {
          swal.fire({
            positon: "center",
            icon: "error",
            title: "Payment failed",
            showConfirmButton: false,
            timer: 1500,
          });
        }
      },
    });
  }






</script>
<script>
 function displaySelectedAddress(addressJSON) {
  const selectedAddress = JSON.parse(addressJSON);

  const displayedAddress =
    selectedAddress.name +
    ", " +
    selectedAddress.addressline +
    ", " +
    selectedAddress.city +
    ", " +
    selectedAddress.state +
    " - " +
    selectedAddress.pincode;
  const displayedAddressElement = document.getElementById("displayedAddress");
  if (displayedAddressElement) {
    displayedAddressElement.textContent = displayedAddress;
  }

  const selectedAddressDisplayElement = document.getElementById(
    "selectedAddressDisplay"
  );
  if (selectedAddressDisplayElement) {
    selectedAddressDisplayElement.style.display = "block";
  }
}

</script>

<!-- coupon apply  -->
<script>
  var coupon_Name;
  function handleCouponClick() {
    var buttonInnerText = document.getElementById("couponButton").innerText;
    if (buttonInnerText.trim() === "Apply") {
        couponApply();
    } else {
        var subTotal = "<%= subTotal %>"; // Assuming subTotal is a JavaScript variable in your code
        removeCoupon(subTotal);
    }
}

function couponApply() {
    var couponCode = document.getElementById('couponCodeInput').value;
    const amount2 = document.getElementById("total").innerHTML;
    const cartId = document.getElementById("cartId").value;
    const numericPart = amount2.substring(1);

    console.log("Coupon Code:", couponCode);
   
  if(couponCode){

    Swal.fire({
      title: 'Are you sure?',
      
      showCancelButton: true,
      confirmButtonColor: '#000000',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes!',
    }).then((res)=>{
      if(res.isConfirmed){
        $.ajax({
    method: 'POST',
    url: '/apply-coupon',
    data: JSON.stringify({ couponCode: couponCode, total: numericPart, cartId: cartId }),
    contentType: 'application/JSON',
    success: function (res) {
        if (res.list) {
         document.getElementById('discountAmount').innerHTML = res.discountAmount
         document.getElementById('total').innerHTML = '₹' + res.totalUpdated;
        
         document.getElementById('couponButton').innerText = "Remove";
 
         coupon_Name = res.couponName;
   
          console.log("tttttttt",res.discountAmount);
           Swal.fire({
                icon: 'success', 
                text: 'success ',
                showConfirmButton: false,
                timer: 1500
            });
        } else if (res.no === true) {
            console.log("Invalid coupon or expired");
            Swal.fire({
              icon: 'error', 
                text: 'Not a valid coupon ',
                confirmButtonColor: '#000000',
                confirmButtonText: 'OK',
            });
        } else if (res.minAmount) {
            Swal.fire({
              icon: 'error', 
                text: `Minimum purchase amount is ${res.requiredAmount}`,
                confirmButtonColor: '#000000',
                confirmButtonText: 'OK',
            }).then(()=>{
              location.reload()
            })
        }else if(res.usedAlready){
          Swal.fire({
              icon: 'error', 
                text: `Your limit exceeded`,
                confirmButtonColor: '#000000',
                confirmButtonText: 'OK',
            });
        }else if(res.time){
          Swal.fire({
                icon: 'error',
                text: 'expired ',
                confirmButtonColor: '#000000',
                confirmButtonText: 'OK',
            });
        }
    },
    error: function (error) {
        console.log("Error:", error);
    }
});

      }
    })
  }
}

function removeCoupon(subTotal) {
  console.log("here you can see the subtota",subTotal)
  if (!coupon_Name) {
    coupon_Name = document.getElementById('couponName').value;
    if ( ! coupon_Name ) {
      console.error('coupon_Name is not initialized');
    return;
    }
   
  }
  console.log("this form fetch a", coupon_Name); // Verify if coupon_Name is correctly set
  let data = { couponName: coupon_Name }; 
  console.log(data);// Assuming your server expects the coupon name in a JSON object
  fetch('/remove-coupon', {
    method: 'POST',
    headers: {
      'Content-type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => {
    // Handle response here if needed
    if (response.ok) {
      Swal.fire({
                icon: 'success', 
                text: 'successfully removed coupon ',
                showConfirmButton: false,
                timer: 1500
            })
      document.getElementById('discountAmount').innerHTML = 0;
      document.getElementById('total').innerHTML = '₹' + subTotal;
      document.getElementById('couponButton').innerText = "Apply";
      document.getElementById('couponCodeInput').value = '';

    }
  })
  .catch(error => {
    // Handle error here if the fetch request fails
    console.error('Error:', error);
  });
}

</script>
