<%- include('../layouts/user/header.ejs') -%>

 

    <!-- Main Section-->
    <section class="mt-0 overflow-hidden ">
        <!-- Page Content Goes Here -->

        <!-- / Top banner -->
        <section class="vh-75 vh-lg-60 container-fluid rounded overflow-hidden" data-aos="fade-in">
            <!-- Swiper Info -->
            <div class="swiper-container overflow-hidden rounded h-100 bg-light" data-swiper data-options='{
              "spaceBetween": 0,
              "slidesPerView": 1,
              "effect": "fade",
              "speed": 1000,
              "loop": true,
              "parallax": true,
              "observer": true,
              "observeParents": true,
              "lazy": {
                "loadPrevNext": true
                },
                "autoplay": {
                  "delay": 5000,
                  "disableOnInteraction": false
              },
              "pagination": {
                "el": ".swiper-pagination",
                "clickable": true
                }
              }'>
              <div class="swiper-wrapper">
            
                <!-- Slide-->
                <%  banners.map(function(banner){ %>
                <div class="swiper-slide position-relative h-100 w-100">
                  <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                    <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100"
                          style="will-change: transform; background-image: url('/assets/banners/sharped/<%= banner.image %>')">
                    </div>

                  </div>
                  <div
                    class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                    <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100"><%= banner.title %></p>
                    <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100">
                      <span class="text-outline-light"><%= banner.description.split(' ')[0] %></span> <%= banner.description.split(' ')[1] %></h2>
                    <div data-swiper-parallax-y="-25">
                      <a href="http://localhost:4001<%=banner.url %>" class="btn btn-psuedo text-white" role="button">Shop New Arrivals</a>
                    </div>
                  </div>
                </div>
                <% }); %>
                <!-- /Slide-->
            
                <!-- Slide-->
                <!-- <div class="swiper-slide position-relative h-100 w-100">
                  <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                    <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100"
                      style=" will-change: transform; background-image: url(/assets/banners/banner-2.jpg)">
                    </div>
                  </div>
                  <div
                    class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                    <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100">Spring Collection</p>
                    <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100">
                      Adidas <span class="text-outline-light">SS21</span></h2>
                    <div data-swiper-parallax-y="-25">
                      <a href="./category.html" class="btn btn-psuedo text-white" role="button">Shop Latest Adidas</a>
                    </div>
                  </div>
                </div> -->
                <!--/Slide-->
            
                <!-- Slide-->
                <!-- <div class="swiper-slide position-relative h-100 w-100">
                  <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                    <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100"
                      style=" will-change: transform; background-image: url(/assets/banners/banner-4.jpg)">
                    </div>
                  </div>
                  <div
                    class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                    <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100">Just Do it</p>
                    <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100">
                      Nike <span class="text-outline-light">SS21</span></h2>
                    <div data-swiper-parallax-y="-25">
                      <a href="./category.html" class="btn btn-psuedo text-white" role="button">Shop Latest Nike</a>
                    </div>
                  </div>
                </div> -->
                <!-- /Slide-->
            
                <!--Slide-->
                <!-- <div class="swiper-slide position-relative h-100 w-100">
                  <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                    <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100"
                      style=" will-change: transform; background-image: url(/assets/banners/banner-3.jpg)">
                    </div>
                  </div>
                  <div
                    class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                    <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100">Look Good Feel Good</p>
                    <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100">
                      <span class="text-outline-light">Sustainable</span> Fashion</h2>
                    <div data-swiper-parallax-y="-25">
                      <a href="./category.html" class="btn btn-psuedo text-white" role="button">Why We Are Different</a>
                    </div>
                  </div>
                </div> -->
                <!--/Slide-->
            
              </div>
            
              <div class="swiper-pagination swiper-pagination-bullet-light"></div>
            
            </div>
            <!-- / Swiper Info-->        </section>
        <!--/ Top Banner-->

        <!-- Featured Brands-->
        <div class="brand-section container-fluid" data-aos="fade-in">
            <div class="bg-overlay-sides-white-to-transparent bg-white py-5 py-md-7">
                <section class="marquee marquee-hover-pause">
                    <div class="marquee-body">
                        <div class="marquee-section animation-marquee-50">
                            <div class="mx-3 mx-lg-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-1.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-3 mx-lg-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-2.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-3 mx-lg-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-3.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-3 mx-lg-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-4.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-3 mx-lg-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-5.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-3 mx-lg-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-6.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-3 mx-lg-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-7.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-3 mx-lg-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-8.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-3 mx-lg-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-9.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="marquee-section animation-marquee-50">
                            <div class="mx-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-1.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-2.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-3.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-4.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-5.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-6.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-7.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-8.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="mx-5 f-w-24">
                                <a class="d-block" href="./category.html">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="/assets/logos/logo-9.svg" alt="">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--/ Featured Brands-->

        <div class="container-fluid">

            <!-- Featured Categories-->
            <div class="main-text container my-7 text-center animated">
                <h3 class="fw-light h4 mb-3">More simple, More Details</h2>
                <p class="small text-muted history">
                  In 2023, a group of boys with different cultural backgrounds met in Calicut. <br>The love of vintage clothes
                  connected them and sparked an idea to create a brand they wanted to wear themselves. This is how the brand
                  WE RE began.
                </p>
              </div>

              <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="banner banner-display banner-link-anim">
                            <a href="#">
                                <img src="/assets/models/misobysonia1.jpg" alt="Banner" class="img-fluid">
                            </a>

                           
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6 col-lg-4 order-lg-last">
                        <div class="banner banner-display banner-link-anim">
                            <a href="#">
                                <img src="/assets/models/misbysonia2.jpg" class="img-fluid" alt="Banner">
                            </a>

                         
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-sm-6 col-lg-12">
                                <div class="banner banner-display banner-link-anim">
                                    <a href="#">
                                        <img src="/assets/models/banner-6.jpg" alt="Banner">
                                    </a>

                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6 col-lg-12 mt-5">
                                <div class="banner banner-display banner-link-anim">
                                    <a href="#">
                                        <img src="/assets/models/banner-7.jpg" alt="Banner">
                                    </a>

                                 
                                </div><!-- End .banner -->
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->

              <!-- here swiping cards  -->
              
              
          
            <!-- /Featured Categories-->

            <!-- Homepage Intro-->
            <div class="position-relative row my-lg-7 pt-5 pt-lg-0 g-8">
                <div class="bg-text bottom-0 start-0 end-0" data-aos="fade-up">
                    <h2 class="bg-text-title opacity-10"><span class="text-outline-dark">SA</span>collective</h2>
                </div>
                <div class="col-12 col-md-6 position-relative z-index-20 mb-7 mb-lg-0" data-aos="fade-right">
                    <p class="text-muted title-small">Welcome</p>
                    <h3 class="display-3 fw-bold mb-5"><span class="text-outline-dark">SAcollective</span> - streetwear & footwear specialists</h3>
                 
                </div>
                <div class="col-12 col-md-6 position-relative z-index-20 pe-0" data-aos="fade-left">
                    <picture class="w-50 d-block position-relative z-index-10 border border-white border-4 shadow-lg">
                        <img class="img-fluid" src="/assets/banners/banner-5.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                    </picture>
                    <picture class="w-60 d-block me-8 mt-n10 shadow-lg border border-white border-4 position-relative z-index-20 ms-auto">
                        <img class="img-fluid" src="/assets/banners/banner-6.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                    </picture>
                    <picture class="w-50 d-block me-8 mt-n7 shadow-lg border border-white border-4 position-absolute top-0 end-0 z-index-0 ">
                        <img class="img-fluid" src="/assets/banners/banner-7.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                    </picture>
                </div>
            </div>
            <!-- / Homepage Intro-->


            <div class="col-12 " data-aos="fade-up">
                <h3 class="fs-4 fw-bolder mt-7 mb-4">You May Also Like</h3>
                <div class="swiper-container" data-swiper data-options='{
                    "spaceBetween": 10,
                    "autoplay": {
                        "delay": 5000,
                        "disableOnInteraction": false
                    },
                    "navigation": {
                        "nextEl": ".swiper-next",
                        "prevEl": ".swiper-prev"
                    },
                    "breakpoints": {
                        "576": {
                            "slidesPerView": 1
                        },
                        "768": {
                            "slidesPerView": 2
                        },
                        "992": {
                            "slidesPerView": 3
                        },
                        "1200": {
                            "slidesPerView": 4
                        }
                    }
                }'>
                    <div class="swiper-wrapper">
                        <% if(locals.product) %>
                        <% product.map(function(rproducts){ %>
                        <div class="swiper-slide">
                            <!-- Card Product-->
                            <div class="card border border-transparent position-relative overflow-hidden h-100 transparent">
                                <div class="card-img position-relative">
                                    <!-- This div was missing in your original code -->
                              
                                    <span class="position-absolute top-0 end-0 p-2 z-index-20 text-muted"><i class="ri-heart-line"></i></span>
                                    <picture class="position-relative overflow-hidden d-block bg-light">
                                        <img class="w-100 img-fluid position-relative z-index-10 hoverimg" title="" src="/assets/images/productImage/sharped/<%= rproducts.images[0] %>" alt="<%= rproducts.name %>">
                                    </picture>
                                    <div class="position-absolute start-0 bottom-0 end-0 z-index-20 p-2">
                                        <button class="btn btn-quick-add"><i class="ri-add-line me-2"></i> Quick Add</button>
                                    </div>
                                </div>
                                <div class="card-body px-0">
                                    <a class="text-decoration-none link-cover cardtitle" href="/productView?id=<%=rproducts._id%>"><%= rproducts.name %></a>
                                    <small class="text-muted d-block smallcardtitle"><%= rproducts.category %></small>
                                    <small class="text-muted d-block smallcardtitle">1 colours, <%= rproducts.sizes.length %> sizes</small>
                                    <p class="mt-2 mb-0 small"><s class="text-danger">₹<%= rproducts.previous_price %></s> <span class="text">₹<%= rproducts.price %></span></p>
                                </div>
                            </div>
                            <!--/ Card Product-->
                        </div>
                        <% }); %>
                    </div>
            
                    <!-- Add Arrows -->
                    <div class="swiper-prev top-50 start-0 z-index-30 cursor-pointer transition-all bg-white px-3 py-4 position-absolute z-index-30 top-50 start-0 mt-n8 d-flex justify-content-center align-items-center opacity-50-hover">
                        <i class="ri-arrow-left-s-line ri-lg"></i>
                    </div>
                    <div class="swiper-next top-50 end-0 z-index-30 cursor-pointer transition-all bg-white px-3 py-4 position-absolute z-index-30 top-50 end-0 mt-n8 d-flex justify-content-center align-items-center opacity-50-hover">
                        <i class="ri-arrow-right-s-line ri-lg"></i>
                    </div>
                </div>
                <!-- / Swiper Latest-->
            </div>
            
       

          
          
         <div style="position: relative; margin-top: 6rem;" >
            <img  class="img-fluid" src="/assets/banners/converse-never-miss-a-beat-email-sign-up.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
        
            <p class="conversepartner" >We officiialyy announced co parnter of converse</p>
        </div>
            
          

          

    

        
    </section>

<script>
  
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        576: {
          slidesPerView: 2,
        },
        768: {
          slidesPerView: 3,
        },
        992: {
          slidesPerView: 4,
        },
      },
    });
  </script>

<%- include('../layouts/user/footer.ejs') -%>

