<%- include('../layouts/user/header.ejs') -%>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  #order-heading {
    background-color: #edf4f7;
    position: relative;
    border-top-left-radius: 25px;
    max-width: 800px;
    padding-top: 20px;
    margin: 30px auto 0px;
  }
  #order-heading .text-uppercase {
    font-size: 0.9rem;
    color: #777;
    font-weight: 600;
  }
  #order-heading .h4 {
    font-weight: 600;
  }
  #order-heading .h4 + div p {
    font-size: 0.8rem;
    color: #777;
  }
  .close {
    padding: 10px 15px;
    background-color: #777;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -20px;
  }
  .wrapper {
    padding: 0px 50px 50px;
    max-width: 800px;
    margin: 0px auto 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .table th {
    border-top: none;
  }
  .table thead tr.text-uppercase th {
    font-size: 0.8rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .table tbody tr th,
  .table tbody tr td {
    font-size: 0.9rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .table-responsive {
    height: 100px;
  }
  .list div b {
    font-size: 0.8rem;
  }
  .list .order-item {
    font-weight: 600;
    color: #6db3ec;
  }
  .list:hover {
    background-color: #f4f4f4;
    cursor: pointer;
    border-radius: 5px;
  }
  label {
    margin-bottom: 0;
    padding: 0;
    font-weight: 900;
  }
  button.btn {
    font-size: 0.9rem;
    background-color: #66cdaa;
  }
  button.btn:hover {
    background-color: #5cb99a;
  }
  .price {
    color: #5cb99a;
    font-weight: 700;
  }
  p.text-justify {
    font-size: 0.9rem;
    margin: 0;
  }
  .row {
    margin: 0px;
  }
  .subscriptions {
    border: 1px solid #ddd;
    border-left: 5px solid #ffa500;
    padding: 10px;
  }
  .subscriptions div {
    font-size: 0.9rem;
  }
  /* Modal styles */
.modall {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modall-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.closee {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.star {
    color: gray; 
    cursor: pointer;
  }

.closee:hover,
.closee:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.rating-stars {
  margin-bottom: 10px;
}

.star {
  font-size: 30px;
  cursor: pointer;
}

.product-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.product-details {
  display: flex;
  align-items: center;
}

.product-info {
  flex: 1;
}

.product-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.product-image {
  margin-right: 10px;
}

.return-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
}

.return-status {
  margin-right: 10px;
}

.returned-status {
  color: green;
}

.return-request-status {
  color: red;
}

.rating-button {
  background-color: #ffa500;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}


textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
  @media (max-width: 425px) {
    .wrapper {
      padding: 20px;
    }
    body {
      font-size: 0.85rem;
    }
    .subscriptions div {
      padding-left: 5px;
    }
    img + label {
      font-size: 0.75rem;
    }
  }
</style>

<div
  class="d-flex flex-column justify-content-center align-items-center"
  id="order-heading"
>
  <div class="text-uppercase">
    <p>Order detail</p>
  </div>
  <div class="h4"><%= formattedDate %></div>
  <div class="pt-1">
    <p>
      Order #<%= orders._id %> is currently<b class="text-dark"> processing</b>
    </p>
  </div>
</div>
<div class="wrapper bg-white">
  <% orders.products.forEach((product) => { %>
    <div class="product-container">
      <div class="product-details">
        <div class="product-info">
          <div class="product-name"><b><%= product.productId.name %></b></div>
          <div class="product-quantity"><b>Quantity: <%= product.quantity %></b></div>
          <div class="product-size"><b>Size: <%= product.sizes %></b></div>
          <!-- Add more product details as needed -->
        </div>
        <div class="product-image">
          <img src="/assets/images/productImage/sharped/<%= product.productId.images[0] %>" alt="apple" class="rounded-circle" width="30" height="30"/>
        </div>
      </div>
      <div class="product-actions">
        <% if (product.statusLevel === 3 && product.isReturnReq === false) { %>
          <button
          onclick="handleReturnProductButtonClick(`<%= product.productId._id %>`)"
          type="button"
          class="border-0 p-2 btn-dark"
          style="letter-spacing: 0.1rem; font-size: 0.6rem; border-radius: 0.5rem"
          data-bs-toggle="modal"
          data-bs-target="#ReturnModal"
        >
          Return Product
        </button>  <% } else if (product.statusLevel === 4) { %>
        <button class="return-button" style="background-color: ghostwhite; color: black;" disabled>Pending Return</button>
        <% } %>
        <div class="return-status">
          <% if (product.statusLevel === 5) { %>
          <span class="returned-status">Product Returned</span>
          <% } else if (product.statusLevel === 3 && product.isReturnReq === true) { %>
          <span class="return-request-status">Product Return Request Not Accepted. Contact us for further info</span>
          <% } %>
        </div>
        <% if (product.status === 'delivered' && product.isRated === false ) { %>
        <button onclick="retingModalOpen('<%= product.productId._id %>',)" class="rating-button">Rating</button>
        <% } %>
        <input type="hidden" value="<%= orders._id %>" id="orderIdHidden" >
      </div>
    </div>
  <% }); %>
  

  <div class="pt-2 border-bottom mb-3"></div>
  <!-- <div class="d-flex justify-content-start align-items-center pl-3">
        <div class="text-muted">Payment Method</div>
        <div class="ml-auto">
            <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt=""
                width="30" height="30">
            <label>Mastercard ******5342</label>
        </div>
    </div> -->
  <div class="d-flex justify-content-start align-items-center border-bottom py-1 pl-3">
    <div class="text-muted">Shipping</div>
    <div class="ps-3 ml-auto">
      <label>Free</label>
    </div>
  </div>
 
  <div class="d-flex justify-content-between align-items-center pl-3 py-3 mb-4 border-bottom">
    <div>
        <div  style="font-weight: bolder; font-size: 1.3rem; letter-spacing: .3rem;" class="">Grand Total</div>
        <div class="h5 mt-1">₹<%= orders.total_amount %></div>
    </div>
    <% if (orders.couponApplied.discountAmount > 0) { %>
    <div>
        <div style="font-weight: bolder; font-size: 1.3rem; letter-spacing: .3rem;">Discount</div>
        <div class="h5 mt-1">
            Saved ₹<%= orders.couponApplied.discountAmount %> by <%= orders.couponApplied.couponName %> Coupon
        </div>
    </div>
    <div>
        <div class="text-muted">Total</div>
        <div class="h5 mt-1 text-muted">
            ₹<%= (orders.couponApplied.discountAmount + orders.total_amount).toFixed(2) %>
        </div>
    </div>
    <% } %>
</div>
  <div class="row border rounded p-1 my-3">
    <div class="col-md-6 py-3">
      <div class="d-flex flex-column align-items start statusord">
        <b>Shipping Address</b>
        <p class="text-justify pt-2"><%= orders.deliveryAddress.name %>(H)</p>
        <p class="text-justify">
          <%= orders.deliveryAddress.city %>,<%= orders.deliveryAddress.pincode %>,<%=
          orders.deliveryAddress.state %>
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="pl-3 font-weight-bold">Related Subsriptions</div> -->
  <div
    class="d-sm-flex justify-content-between rounded my-3 subscriptions statusord"
  >
    <div>
      <b>#<%= orders._id %></b>
    </div>
    <% if(orders.statusLevel !== 3 ){ %>
    <div><%= orders.expected_delivery %></div>
    <% } %>

    <div class="statusord">Status: <%= orders.status %></div>

    <div>
      Total:
      <b>
        ₹<%= orders.total_amount %> for <%= orders.products.length %> items</b
      >
    </div>
  </div>
  <div>
    <% if(orders.statusLevel === 3 ){ %>
      <a  id="download"  onclick="downloadInvoice('<%= orders._id %>')"   style="cursor: pointer; background-color: white; color: #2874f0;padding: 6px 16px; border-radius: 1px; border: 1px solid gray;font-size: larger; font-weight: bolder;   text-align: center;">
        Download Invoice
      </a>
      <% } %>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="ReturnModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Return Reason
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form method="post" >
            <div class="form-group">
              <label for="reason" class="form-label">reason</label>
              <input type="hidden" id="productId" value="" />
              <input
                type="text"
                class="form-control"
                id="reason"
                placeholder="reason"
                name="reason"
              />
              <p style="color: red; display: none" id="reasonErr"></p>
            </div>

            <button
              type="button"
              onclick=" returnOrder('<%= orders._id %>')"
              class="btn-dark w-100"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

   <!-- rating modal  -->
   <div id="ratingModal" class="modall">
    <div class="modall-content">
      <h2>Rate this product</h2>
      <input type="hidden" id="productIdhidden" >
      <div class="rating-stars">
        <span class="star" onclick="rateProduct(1)">★</span>
        <span class="star" onclick="rateProduct(2)">★</span>
        <span class="star" onclick="rateProduct(3)">★</span>
        <span class="star" onclick="rateProduct(4)">★</span>
        <span class="star" onclick="rateProduct(5)">★</span>
        <p style="color: red; display: none;" id="starsErr"  ></p>
      </div>
      <textarea id="commentField" placeholder="Enter your comments"></textarea>
      <p style="color: red; display: none;" id="commentErr"  ></p>
      <button onclick="submitRating()">Submit</button>
      <button onclick="closeRatingModal()">Close</button>
    </div>
  </div>

  <!-- <% if( orders.statusLevel ===3 ){ %>
        <button  type="button" class="border-0 p-2 btn-dark" data-bs-toggle="modal" data-bs-target="#ReturnModal"> Return Order </button>
        <% } else { %>
            <button class=" border-0  p-3" disabled> Return Order </button>

            <% } %> -->
</div>
<%- include('../layouts/user/footer.ejs') -%>

<script>
  function validateReason() {
    const reason = document.getElementById("reason").value.trim();
    
    const reasonError = document.getElementById("reasonErr");

    if (reason === "") {
      reasonError.innerText = `reason field is required `;
      reasonError.style.display = "block";
      setTimeout(() => {
        reasonError.style.display = "none";
      }, 5000);
      return false;
    }
    console.log("am here")
    return true;
  }

  function handleReturnProductButtonClick(productId) {
    // Set the product ID value into the hidden input field inside the modal
    console.log("am doiiii", productId);
    document.getElementById("productId").value = productId;
  }
  function returnOrder(orderId) {
    const isValidReason = validateReason();
 
    if (!isValidReason) {
      console.log("am her")
      return; // Exit function if validation fails
     
    }
    
    const productId = document.getElementById("productId").value;
    console.log(orderId, productId);
    console.log("fuck", productId);
    const reason = document.getElementById("reason").value;
    const data = {
      reason: reason,
      productId: productId,
      orderId: orderId,
    };
    Swal.fire({
      title: "Are you sure?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes!",
    }).then((res) => {
      if (res.isConfirmed) {
        $.ajax({
          method: "POST",
          url: "/returnreason",
          data: JSON.stringify(data),
          contentType: "application/json",
          success: function (response) {
            if (response.reason === true) {
              Swal.fire({
                icon: "success",
                text: "submitted success fully",
              }).then(() => {
                location.reload();
                clearInputValues();
              });

              $("#ReturnModal").modal("hide");
            } else {
            }
          },
          error: function (error) {
            console.error(error);
          },
        });
      }
    });
  }

  async function downloadInvoice(orderId) {
    const data = { orderId };
    fetch('/invoice-download', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
      .then(response => response.blob())
      .then(blob => {
        //its a temporey link
        const link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = `invoice${orderId}.pdf`;
        // Append the link to the DOM for download
        document.body.appendChild(link);
        // Trigger a click event on the link to initiate the download
        link.click();
        // Remove the link from the DOM
        document.body.removeChild(link);
      })
      .catch(err => {
        console.error('Error downloading invoice:', err);
        alert('Something went wrong while downloading the invoice.');
      });
  }


  /// ratin g modal 

  
const retingModalOpen = (productID) => {
  console.log(productID)
  let modal = document.getElementById('ratingModal');
  const hiddenInput = document.getElementById('productIdhidden');
  hiddenInput.value = productID;
  modal.style.display = "block";
}
function rateProduct(rating) {
  var stars = document.querySelectorAll('.rating-stars .star');
  for (var i = 0; i < stars.length; i++) {
    if (i < rating) {
      stars[i].style.color = 'gold';
    } else {
      stars[i].style.color = 'gray'; 
    }
  }
}
function submitRating(ratingStar) {
  let stars = document.querySelectorAll('.rating-stars .star');
  let starsErr = document.getElementById('starsErr');
  let commentErr = document.getElementById('commentErr');
  let commentField = document.getElementById('commentField').value;
  const hiddenInput = document.getElementById('productIdhidden').value;
  let orderId =  document.getElementById('orderIdHidden').value;
  let modal = document.getElementById('ratingModal');

  var selectedRating = 0;
  for (var i = 0; i < stars.length; i++) {
    if (stars[i].style.color === 'gray') {
      selectedRating = i ;
      break;
    } else {
      selectedRating = 5;
    }
  }
  console.log(selectedRating,"selectedRating")
  if (selectedRating < 1) {
    starsErr.style.display = 'block';
    starsErr.innerText = 'Please select at least one star';
    return true;
  } else {
    starsErr.style.display = 'none';
  }

  if (!/^[a-zA-Z ]{10,}$/.test(commentField)) {
    commentErr.style.display = 'block';
    commentErr.innerText = 'Comment must contain only letters and be at least 10 characters long.';
    return true;
  } else {
    commentErr.style.display = 'none';
  }

  const data = {
    stars: selectedRating,
    comment: commentField,
    productID: hiddenInput,
    orderId: orderId
  };

  $.ajax({
    method: "POST",
    url: "/add-review",
    data: JSON.stringify(data),
    contentType: "application/json",
    success: function (response) {
      if (response.message === "Rating added successfully") {
        modal.style.display = 'none';
        toastr.success("Rating added successfully!", "", {
          timeOut: 2000,
          progressBar: true,
        });
        setTimeout(()=>{   
          clearReviewModalValues()
          location.reload();
        },2400)
         
      } else if (response.message) {
        modal.style.display = 'none';
        toastr.error(`${response.message}`, "", {
          timeOut: 2000,
          progressBar: true,
        });
         setTimeout(()=>{   
          clearReviewModalValues()
        },2400)
      }
    },
    error: function (error) {
      console.error(error);
    },
  });
}
function clearReviewModalValues() {
  let commentField = document.getElementById('commentField');
  let stars = document.querySelectorAll('.rating-stars .star');
  commentField.value = '';
  // here changin all starts color to gray  
  for (var i = 0; i < stars.length; i++) {
      stars[i].style.color = 'gray';   
  }
}
function closeRatingModal () {
  var modal = document.getElementById('ratingModal');
  modal.style.display = "none";
}
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
