 
 <%- include('../layouts/user/header.ejs') -%>

 <!-- Main Section-->
 <section class="mt-0 ">
    <!-- Page Content Goes Here -->
    
  
    <div class="container-fluid" data-aos="fade-in">
        <!-- Category Toolbar-->
            <div class="d-flex justify-content-between items-center pt-5 pb-4 flex-column flex-lg-row">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page"><a href="/shop">All</a></li>
                        </ol>
                    </nav>       
                    
                    <h1 class="fw-bold fs-3 mb-2">All Products (<%= products.length %>)</h1>
                   
                </div>
                <div class="d-flex justify-content-end align-items-center mt-4 mt-lg-0 flex-column flex-md-row">
            
                    <!-- Filter Trigger-->
                    <!-- <button class="btn bg-light p-3 me-md-3 d-flex align-items-center fs-7 lh-1 w-100 mb-2 mb-md-0 w-md-auto " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
                        <i class="ri-equalizer-line me-2"></i> Filters
                    </button> -->
                    <!-- / Filter Trigger-->
            
                    <!-- Sort Options-->
                    <select id="sortSelect" class="form-select form-select-sm border-0 bg-light p-3 pe-5 lh-1 fs-7" onchange="updateSort(this)">
                        <option value="/shop?sort=default" selected>Sort By</option>
                        <option value="/shop?sort=priceLowTohigh">Low Hi</option>
                        <option value="/shop?sort=2">Hi Low</option>
                        <option value="/shop?sort=3">Name</option>
                    </select>
                    
                    <!-- / Sort Options-->
                </div>
                
            </div>            <!-- /Category Toolbar-->
            <div class="row">
              <!-- Sidebar -->
              <div class="col-lg-3 col-3">
                  <!-- Add your sidebar content here -->
                  <div class="card">
                      <div class="card-body">
                          
                      
                          <div class="accordion" id="accordionProduct">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Categories
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionProduct">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                           <li class="list-group-item d-flex border-0 row g-0 px-0">
                                                <% if(locals.category) %>
                                                <select id="selectCategory" class="form-select fw-bolder" onchange="updateCategory(this)">
                                                    <option value="" disabled selected>Select Category</option>
                                                    <% category.map(function(cat){ %>
                                                        <option value="/shop?categid=<%=cat.name %>"><%= cat.name %></option>
                                                    <% }); %>
                                                    <option value="/shop?">All</option>
                                                </select>                                                
                                                
                                                
                                            </li>
                                        </ul>
                                        <form class="form-inline d-flex justify-content-center md-form form-sm active-pink-2 mt-2">
                                            <input class="form-control form-control-sm mr-3 w-100" type="search" class="form-control" onkeyup="debouncedSearch(this)" id="search-box" placeholder="Search in...">
                                            <i class="fas fa-search" aria-hidden="true"></i>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                 
                         
                      
                      </div>
                  </div>
              </div>
              <!-- /Sidebar -->
      
              <!-- Main content -->
              <div class="col-lg-9 col-9" >
        <!-- Products-->
        
        <div class="row g-4" id="searchResults">
            <!-- Search form -->

  
            <% if(locals.products) { %>

                <%  products.map(function(products){ %>
                <div class=" col-sm-6 col-6  col-lg-3">
                    <!-- Card Product-->
                    <div class="card border border-transparent position-relative overflow-hidden h-100 transparent">
                        <div class="card-img position-relative">
                            
                            <div class="card-badges">
                                    <span class="badge badge-card"><span class="f-w-2 f-h-2 bg-danger rounded-circle d-block me-1"></span> Sale</span>
                            </div>
                            <!-- <span class="position-absolute top-0 end-0 p-2 z-index-20 text-muted"><i class="ri-heart-line"></i></span> -->
                            <picture class="position-relative overflow-hidden d-block bg-light">
                                <img class="w-100 img-fluid position-relative z-index-10 hoverimg" title="" src="/assets/images/productImage/sharped/<%= products.images[0] %> " alt="<%= products.name %>">
                            </picture>    
                        </div>
                        <div class="card-body px-0">
                            <a class="text-decoration-none link-cover cardtitleshop"  href="/productView?id=<%=products._id%>" ><%= products.name %></a>
                            <small class="text-muted d-block smallcardtitle"><%= products.category %></small>
                            <small class="text-muted d-block smallcardtitle">1 colours, <%= products.sizes.length %> Sizes</small>
                            <% if (parseInt(products.previous_price) === parseInt(products.price)) { %>
                          <span style="font-size: 13px;" class="text">₹<%= products.price %></span>
                            <% } else { %>
                                <p class="mt-2 mb-0 small"><s class="text-danger">₹<%= products.previous_price %></s> <span class="text">₹<%= products.price %></span></p>
                            <% } %>
                          
                        </div>
                    </div>
                    <!--/ Card Product-->
                </div>
                <% }); %>
                <%  } else  { %>
                    <tr>
                         <td colspan="5">No products available</td>
                       </tr>

                     <% } %>
                     </div>
                     <!-- pagination  -->
                   <nav aria-label="Page navigation example">
  <ul class="pagination" id="paginationHi">
    <% if (totalPages > 1) { %>

      <% if (currentPage <= 1) { %>
        <li class="page-item"><a class="page-link" aria-disabled="true">Previous</a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="?page=<%= previous %><% if (categId) { %>&categid=<%= categId %><% } %>">Previous</a></li>
      <% } %>

      <% for (let j = 1; j <= totalPages; j++) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= j %><% if (categId) { %>&categid=<%= categId %><% } %>"><%= j %></a></li>
      <% } %>

      <% if (currentPage < totalPages) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= next %><% if (categId) { %>&categid=<%= categId %><% } %>">Next</a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" aria-disabled="true">Next</a></li>
      <% } %>

    <% } else { %>

      <li class="page-item"><a class="page-link" aria-disabled="true">Previous</a></li>
      <li class="page-item"><a class="page-link" aria-disabled="true">1</a></li>
      <li class="page-item"><a class="page-link" aria-disabled="true">Next</a></li>

    <% } %>
  </ul>
</nav>

                      
        </div>
        <!-- / Products-->
        
    </div>


   
</section>

 <!-- Offcanvas Imports-->
   
<%- include('../layouts/user/footer.ejs') -%>


<script>
    function updateSort(selectElement) {
        const selectedOption = selectElement.value;

        //here checkiong category filter applied or not
        const categoryFilter = window.location.search.includes('categid');
        const categoryParam = categoryFilter ? '&categid=' + getParameterByName('categid') : '';
        window.location.href = selectedOption + categoryParam;
    }
    // http://localhost:4001/shop?categid=Loafers  in here i want    cateid=Loafer so i created a function and
    // i passed a argumnet on top here i taking that value 
    function getParameterByName(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }
    
    document.addEventListener('DOMContentLoaded', function () {
       


            
            function setSelectedOption() {
                const selectElement = document.getElementById('sortSelect');
                // here taking same function for getting url parmas 
                const sortQueryParam = getParameterByName('sort');
                for (let i = 0; i < selectElement.options.length; i++) {
                    const option = selectElement.options[i];
                    if (option.value === `/shop?sort=${sortQueryParam}`) {
                        option.selected = true;
                    } else {
                        option.selected = false;
                    }
                }
            }
            // Call the function on page load
            setSelectedOption();
            
        });

//debounce function for delaying
const debounce = (mainFunction, delay) => {
  // Declare a variable called 'timer' to store the timer ID
  let timer;

  // Return an anonymous function that takes in any number of arguments
  return function (...args) {
    // Clear the previous timer to prevent the execution of 'mainFunction'
    clearTimeout(timer);

    // Set a new timer that will execute 'mainFunction' after the specified delay
    timer = setTimeout(() => {
      mainFunction(...args);
    }, delay);
  };
};
        // search 

 
      function sendData(e) {
    const searchResults = document.getElementById('searchResults');
    const inputValue = e.value.trim();  
    const categId = getParameterByName('categid');
    console.log("tyuytuytuyuy",categId);
    

    fetch('getProduct', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ payload: inputValue , category:categId})
    })
    .then(res => res.json())
    .then(data => {
        let products = data.payload;
    
        searchResults.innerHTML = '';

        if (products.length < 1) {
            searchResults.innerHTML = '<p>No matching products found</p>';
            document.getElementById('paginationHi').style.display ='none';
            return;
        }

       else{
          // Render the fetched products
          products.forEach(product => {
            searchResults.innerHTML += `
                <div class="col-sm-6 col-6 col-lg-3">
                    <div class="card border border-transparent position-relative overflow-hidden h-100 transparent">
                        <div class="card-img position-relative">
                            <div class="card-badges">
                                <span class="badge badge-card"><span class="f-w-2 f-h-2 bg-danger rounded-circle d-block me-1"></span> Sale</span>
                            </div>
                            <span class="position-absolute top-0 end-0 p-2 z-index-20 text-muted"><i class="ri-heart-line"></i></span>
                            <picture class="position-relative overflow-hidden d-block bg-light">
                                <img class="w-100 img-fluid position-relative z-index-10 hoverimg" title="" src="/assets/images/productImage/sharped/${product.images[0]}" alt="${product.name}">
                            </picture>
                        </div>
                        <div class="card-body px-0">
                            <a class="text-decoration-none link-cover cardtitleshop" href="/productView?id=${product._id}">${product.name}</a>
                            <small class="text-muted d-block smallcardtitle">${product.category}</small>
                            <small class="text-muted d-block smallcardtitle">1 colours, ${product.sizes.length} Sizes</small>
                            <p class="mt-2 mb-0 small"><s class="text-danger">₹${product.previous_price}</s> <span class="text">₹${product.price}</span></p>
                        </div>
                    </div>
                </div>`;
        });
       }
      
    })
    .catch(error => {
        console.error('Error fetching search results:', error);
    });
}



document.addEventListener('DOMContentLoaded', function () {
    const debouncedSearch = debounce(sendData, 1000);
    // here attaching the result to search box
    const searchBox = document.getElementById('search-box');
    searchBox.addEventListener('input', function () {
        debouncedSearch(this);
    });
});
function updateCategory(selectElement) {
    const selectedCategory = selectElement.value;
    const sortFilter = window.location.search.includes('sort');
    const sortParam = sortFilter ? '&sort=' + getParameterByName('sort') : '';

    // Redirect to the selected category page
    window.location.href = selectedCategory + sortParam;
}



</script>
