<%- include('../layouts/user/header.ejs') -%>
<style>
  .containerrr {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebarrr {
    flex: 1;
    min-width: 20%;
    max-width: 25%;
    padding: 20px;
    color: #fff;
    min-height: 100vh;
  }

  .main-contenttt {
    flex: 3;
    padding: 20px;
  }

  hr {
    color: black;
  }

  .user-headerrr {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .user-photooo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #ddd;
  }

  .user-nameee {
    font-size: 0.6rem;
    font-weight: bold;
  }

  .menu-headinggg {
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgba(127, 127, 127, 1);
  }

  .menu-itemmm {
    margin-bottom: 10px;
  }

  .menu-itemmm a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Quicksand';
  }

  .menu-itemmm.selected {
    background-color: #f0f0f0;
    border-radius: 5px;
  }

  @media screen and (max-width: 600px) {
    .menu-itemmm a {
      color: black;
      text-decoration: none;
      font-size: 0.5rem;
    }
  }
</style>
</head>
<body>
  <div class="containerrr">
    <!-- Sidebar -->
    <div class="sidebarrr" id="sidebar">
      <div class="user-headerrr">
        <div class="user-photooo"></div>
        <div class="user-nameee">John Doe</div>
      </div>

      <!-- Sidebar Menu -->
      <div class="menu-headinggg">General</div>
      <div class="menu-itemmm"><a href="/addresses">Manage Address</a></div>
      <hr />
      <div class="menu-itemmm"><a href="/orders">Orders</a></div>
      <hr />
      <div class="menu-itemmm">
        <a href="/wishlist" aria-current="page" class="bg-light active">Wishlist</a>
      </div>
      <hr />
      <div class="menu-itemmm"><a href="/wallet">Wallet</a></div>
      <hr />

      <div class="menu-headinggg">Legal</div>
      <div class="menu-itemmm"><a href="#">Terms of Use</a></div>
      <hr />
      <div class="menu-itemmm"><a href="#">Privacy Policy</a></div>
      <hr />

      <div class="menu-headinggg">Personal</div>
      <div class="menu-itemmm"><a href="#">Report a Bug</a></div>
      <hr />
      <div class="menu-itemmm"><a href="/signout">Logout</a></div>
      <hr />
    </div>

    <!-- Main Content -->
    <div class="main-contenttt">
      <nav class="d-none d-md-block">
        <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
          <li class="me-4"><a class="nav-link-checkout" href="/">Home</a></li>
          <li class="me-4"><a class="nav-link-checkout" href="/profile">Profile</a></li>
          <li class="me-4">
            <a class="nav-link-checkout active aria-current" href="/wishlist">wishlist</a>
          </li>
        </ul>
      </nav>
      <div>
        <div class="mt-5">
          <h3 class="fs-5 fw-bolder mb-0 border-bottom pb-4">Your Wishlist</h3>
          <div class="table-responsive">
            <table class="table align-middle">
              <tbody class="border-0">
              <% if (wishlist && wishlist.products &&
              wishlist.products.length > 0) { %> <%
                wishlist.products.forEach((value, index) => { %>
                <tr class="mx-0 py-4 g-0 border-bottom">
                  <td class="col-2 position-relative">
                    <picture class="d-block border" onclick="window.location.href='http://localhost:4001/productView?id=<%= value._id %>'">
                      <img
                        class="img-fluid"
                        src="/assets/images/productImage/sharped/<%= value.images[0] %>"
                        alt="hihi"
                      />
                    </picture>
                  </td>
                  <td class="col-9 offset-1">
                    <div>
                      <h6 class="justify-content-between d-flex align-items-start mb-2">
                        <%= value.name %>
                        <i
                          
                          style="cursor: pointer; color: black"
                          class="ri-close-line ms-3"
                          onclick="removeFromWishlist('<%= value._id %>')"
                          onmouseover="this.style.color='red'; this.title='Remove from Wishlist';"
                          onmouseout="this.style.color='black'"
                        ></i>
                      </h6>
                    </div>
                    <p style="font-weight: 800; padding-left: 4px;">
                        ₹ <%= value.price %>
                    </p>
                    <% if (value.stockQuantity > 0) { %>
                      <button  class="btn btn-dark w-100 mt-4 mb-0 hover-lift-sm hover-boxshadow" onclick="addToCart('<%= value._id %>')" style="border: .1px solid black; padding: .61em; letter-spacing: .2em; ">
                        Add to cart
                       </button>
                      <% } else { %>
                      <button
                        disabled
                        style="background-color: rgb(209, 14, 14)"
                        class="btn btn-dark w-100 mt-4 mb-0 hover-lift-sm hover-boxshadow"style="letter-spacing: .2em; "
                      > Out of stock
                      </button>
                      <% } %>
                  </td>
                </tr>
                <% }) %> <% } else { %>
                  <tr>
                    <td colspan="2">No products available</td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
function removeFromWishlist(productId) {
    const data = { productId: productId };
    fetch("/remove-wishlist", {
      method: "POST",
      headers: {
        "Content-type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        if (response.ok) {
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Item removed from wishlist",
            showConfirmButton: false,
            timer: 1500,
          }).then(()=> {
            location.reload()
          })
        } else {
          // Handle other non-success cases if needed
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        Swal.fire({
          position: "center",
          icon: "error",
          title: "Error removing item from wishlist",
          showConfirmButton: false,
          timer: 1500,
          background: "transparent",
        });
      });
}
function addToCart(productId) {
    const data = { productId: productId };
    $.ajax({
      method: "POST",
      url: "/add-to-cart",
      data: JSON.stringify(data),
      contentType: "application/json",
      success: function (response) {
        if (response.login == "success") {
          swal
            .fire({
              icon: "warning",
              title: "Please Login",
              confirmButtonColor: "#3085d6",
              confirmButtonText: "Login",
              showCancelButton: true,
              cancelButtonColor: "#d33",
              text: response.message,
            })
            .then((res) => {
              if (res.isConfirmed) {
                window.location.href = "/signin";
              }
            });
        } else if (response.existingInCart) {
          swal
            .fire({
              position: "center",
              icon: "error",
              title: "item already in cart ",
              confirmButtonColor: "#000000",
              confirmButtonText: "Check in cart",
            })
            .then((result) => {
              if (result.isConfirmed) {
                // Handle the redirection manually
                window.location.href = "/cart";
              }
            });
        } else if (response.success) {
          swal
            .fire({
              position: "center",
              icon: "success",
              title: "Product added to cart",
              confirmButtonColor: "#000000",
              confirmButtonText: "Go to cart",
              showCancelButton: true,
              cancelButtonColor: "#d33",
              cancelButtonText: "Contine Shopping",
            })
            .then((result) => {
              if (result.isConfirmed) {
                // Handle the redirection manually
                window.location.href = "/cart";
              }
            });
        }
      },
    });}
</script>